<p-messages [enableService]="true"></p-messages>


<app-event-details 
*ngIf="selectedEvent!==null && selectedEvent !== undefined"
[event]="selectedEvent" 
[display]="displayEventDetails" 
(closeModal)="onCloseDetails()">
</app-event-details>


<p-table
  #dt2
  [value]="events"
  [paginator]="true"
  [rows]="pageSize"
  [lazy]="true"
  (onLazyLoad)="loadEvents($event)"
  [totalRecords]="totalEvents"
  styleClass="p-datatable-striped"
  [tableStyle]="{ 'min-width': '50rem' }"
  [globalFilterFields]="['name']"
  [loading]="loading"
  [sortOrder]="1"
>
  <ng-template pTemplate="caption">
    <div class="flex">
      <p-iconField iconPosition="left" class="ml-auto">
        <p-inputIcon>
          <i class="pi pi-search"></i>
        </p-inputIcon>
        <input
          pInputText
          type="text"
          [(ngModel)]="searchKeyword"
          (input)="onSearchChange(searchKeyword)"
          placeholder="Search keyword"
        />
      </p-iconField>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th pSortableColumn="name" style="width: 20%">
        Name <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th>Description</th>
      <th>Organizer</th>
      <th>Details</th>
      <th>Status</th>
      <th>Attendance</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-event >
    <tr>
      <td>{{ truncateId(event.id) }}</td>
      <td>{{ event.name }}</td>
      <td>{{ truncateDescription(event.description) }}</td>
      <td>{{ event.organizer.username }}</td>
      <td>
        <button (click)="viewDetails(event)">
          <i class="pi pi-info-circle"></i>
        </button>
      </td>
      <td> 
        <p-tag *ngIf="isUpcoming(event)" value="Upcoming" severity="success"></p-tag>
        <p-tag *ngIf="!isUpcoming(event)" value="Past" severity="danger"></p-tag>
      </td>
      <td *ngIf="isLoggedIn">
        <button *ngIf="!event.isAttending" (click)="attendEvent(event)"  label="Attend">Attend</button>
        <button *ngIf="event.isAttending" (click)="unattendEvent(event)"  label="Unattend">Unattend</button>
      </td>
      <td *ngIf="!isLoggedIn" class="flex align-items-center justify-content-center" style="height: 100px;">
        <div class="text-center">
          <i class="pi pi-exclamation-triangle" style="color: #FF9800;"></i>
          <p class="mt-2" style="color: #555;">Log In to attend</p>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
