<p-card styleClass="p-mb-3">
  <div class="p-grid p-align-center">
    
    <div class="p-col-12 p-md-3 p-text-center">
      <p-avatar
        [label]="user.firstname.charAt(0) + user.lastname.charAt(0)"
        styleClass="p-mr-2"
        size="xlarge"
      ></p-avatar>
    </div>

    <div class="p-col-12 p-md-9">
      <h2 class="p-mb-1">{{ user.firstname }} {{ user.lastname }}</h2>
      <p class="p-text-secondary p-mb-3">{{ user.username }}</p>

      <p class="p-text-bold">
        <i class="pi pi-user p-mr-1"></i> Role: {{ user.roles }}
      </p>

      <p>
        <i class="pi pi-calendar p-mr-1"></i> Signup Date:
        {{ user.signupDate | date: 'longDate' }}
      </p>

      <p>
        <i class="pi pi-comments p-mr-1"></i> Comments authored:
        {{ user.authoredComments.length || 0 }}
      </p>

     
      <p *ngIf="user.attendedEvents.length > 0">
        <i class="pi pi-calendar p-mr-1"></i> Attended Events:
      </p>
      <ul *ngIf="user.attendedEvents.length > 0">
        <li *ngFor="let event of user.attendedEvents">
          {{ event.eventname}}
        </li>
      </ul>

    </div>
  </div>
  <button *ngIf="loggedInId != '' && loggedInId === user.id" pButton type="button" label="Edit Profile" icon="pi pi-pencil" (click)="showModal()"></button>
</p-card>

<p-dialog header="Edit Profile" [(visible)]="display" [modal]="true" [style]="{ width: '50vw' }">
  <div>
    <div class="p-field">
      <label for="firstName">First Name</label>
      <input id="firstName" type="text" pInputText [(ngModel)]="toEditUser.firstname" />
    </div>
    <div class="p-field">
      <label for="lastName">Last Name</label>
      <input id="lastName" type="text" pInputText [(ngModel)]="toEditUser.lastname" />
    </div>
    <p-footer>
      <button pButton type="button" label="Save" icon="pi pi-check" (click)="saveChanges()" [disabled]="!formValid()"></button>
      <button pButton type="button" label="Cancel" icon="pi pi-times" (click)="hideModal()"></button>
    </p-footer>
  </div>
</p-dialog>
