<div class="login-container">
  <h2>Login</h2>
  <p-messages [enableService]="true"></p-messages>

  <form (ngSubmit)="login()" [formGroup]="loginForm" class="p-fluid">
    <div class="p-field">
      <label for="username">Username</label>
      <input
        formControlName="username"
        id="username"
        type="text"
        pInputText
        name="username"
        required
      />
    </div>
    <!-- control  -->
    <div
      *ngIf="getUsername?.invalid && (getUsername?.dirty || getUsername?.touched)"
      class="custom-alert"
    >
      <div *ngIf="getUsername?.hasError('required')">Name is required.</div>
      <div *ngIf="getUsername?.hasError('minlength')">
        Name must be at least 4 characters long.
      </div>
      <div *ngIf="getUsername?.hasError('email')">Name cannot be Bob.</div>
    </div>

    <div class="p-field">
      <label for="password">Password</label>
      <input
        formControlName="password"
        id="password"
        type="password"
        pInputText
        name="password"
        required
      />
    </div>
    <!-- control  -->
    <div
      *ngIf="getPassword.invalid && (getPassword.dirty || getPassword.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="getPassword.hasError('required')">Name is required.</div>
      <div *ngIf="getPassword.hasError('minlength')">
        Name must be at least 4 characters long.
      </div>
      <div *ngIf="getPassword.hasError('forbiddenName')">Name cannot be Bob.</div>
    </div>

    <div class="p-field">
      <button
        pButton
        type="submit"
        label="Sign In"
        [disabled]="loginForm.invalid"
      ></button>
    </div>
  </form>
</div>
