<p-dialog
  [(visible)]="display"
  [modal]="true"
  [header]="event.name"
  [style]="{ width: '50vw' }"
  (onHide)="onClose()"
  [maximizable]="true"
  
>
<span class="p-text-secondary block mb-5">#{{event.id}} </span>

  <div class="p-grid">
    <div class="p-col-12">
      <h3><i class="pi pi-calendar"></i> Date:</h3>
      <p>{{ event.eventLocations[0].date }}</p>
      <p>{{ event.eventLocations[0].time }}</p>
    </div>
    <div class="p-col-12">
      <h3> <i class="pi pi-map-marker"></i> Location:</h3>
      <p>Country: {{ event.eventLocations[0].location.country }}</p>
      <p>Line 1: {{ event.eventLocations[0].location.line1  }}</p>
      <p>Line 2: {{ event.eventLocations[0].location.line2  }}</p>
      <p>Postal code: {{ event.eventLocations[0].location.postal  }}</p>
    </div>
    <div class="p-col-12">
      <h3><i class="pi pi-align-left"></i> Description:</h3>
      <p>{{ event.description }}</p>
    </div>
    <div class="p-col-12">
      <h3><i class="pi pi-user"></i>Organizer:</h3>
      <p>{{ event.organizer.firstName }}</p>
    </div>
  </div>
  <p-footer>
    <button
      pButton
      type="button"
      label="close"
      icon="pi pi-times"
      (click)="onClose()"
    ></button>
  </p-footer>
</p-dialog>
